# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project302.2.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\User\Desktop\Project302\unity\Project3_2.2\Project302.2\.idea\.idea.Project302.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
